<!-- Navigation -->
  <nav class="navbar navbar-light static-top">
    <div class="container", id="navbar-color">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <%= link_to "Donate now", "https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page", class: "nav-link", id: "donate-now-color" %>
      <%= link_to "Crowdfunding Results", finance_tracker_path, class: "nav-link", id: "link-color" %>
      <%= link_to "Our scholars", scholars_path, class: "nav-link", id: "link-color" %>
      <% end %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "Español", espanol_path, class: "nav-link", id: "link-color-lang" %>
        </li>
      </ul>
    </div>
  </nav>
