<%= render "shared/navbar-en" %>

<div class="banner-finances">
  <div class="container">
    <%= image_tag "money.png", class: "money-icon", alt: "money icon" %>
    <h1>VVAIS</h1>
    <h3>Financial Report</h3>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      </br>
      </br>
      <h1>💵📊 Crowdfunding Campaign # 1:</h1>
      <h4>⛔️ Result: Not sucessful</h4>
      <h4>🏁 Plan: 20,000 €</h4>
      <h4>📉 Real: 2,500 € (12,5%)</h4>
      <hr>
      <div class="blog-title">
        <h5>Written by: Luis José Borges.</h5>
        <h5>Date: November 11th. 2020.</h5>
        <h5>6 min read</h5>
      </div>
      <hr>
      <h4>Background</h4>
      <br>
      <div class="blog-text">
        <p>
          On the 24th. of July 2020, birthday of Venezuelan Liberator Simón Bolivar, we kicked off this purpose-driven project called VVAIS to give back
          to the country that has given everything nowadays: a family, an education, a career and a company. The Venezuelan Social Innovation Academy
          represents the first step towards bringing entrepreneurial education and empowerment to million of young people striving to make a
          living in Venezuela. <br>In the following paragraphs, we would like to show the results of our first initial efforts and the main challenges and learnings
          we've grasped from working on this project.
        </p>
      </div>
      <br>
      <h4>Initial plan:</h4>
      <br>
      <div class="blog-text">
        <p>
          Back in July we were and still are very ambitious in our aspirations. We set ourselves to raise 20,000 EUR to start
          this journey with 4 Venezuelans coming to Uganda. This is a summary of our results.
        </p>
      </div>
      <br>
      <h4>Challenges:</h4>
      <br>
      <p>On the 24th. of July 2020, was born this idea to give back to a country that have given me everything I have nowadays: a family,
        and education, a career and now a company. This idea is called VVAIS (Venezuelan Social Innovation Academy) and it represents the
        first step to bring entrepreneurial education, inspiration and empowerment to the million of young people striving to make a living
        in a tough country. <br><br>Back in July we were and still are very ambitious in our aspirations. We set ourselves to raise 20,000 EUR to start
        this journey with 4 Venezuelans coming to Uganda. This is a summary of our results.
      </p>
      <br>
      <p><i>"We are changing the plan, but not the goal"</i><br><p>Luis José Borges <br>- Founder @ vvais</p></p>
      <br>
      <h4>Next Steps:</h4>
      <ul>
        <li>Get direct support from SINA Uganda</li>
        <li>Reduce budget to 5,000 EUR</li>
        <li>Raise remaining 2,500 EUR</li>
      </ul>
      <br>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center">

      <div class="col-md-4 col-sm-12">
        <h2>Financial Report:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Quod, cupiditate! Dolore rerum, qui inventore distinctio quidem necessitatibus veritatis, autem similique maiores culpa omnis impedit itaque nam pariatur sunt aperiam atque.</p>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="financial-icons">
          <%= image_tag "coins.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>2,500€</h2>
        </div>
        <div class="financial-text">
          <p>total in donations</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "expenses.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>330 €</h2>
        </div>
        <div class="financial-text">
          <p>total spent</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <%= image_tag "expenses-graph.png", class: "expenses-graph", alt: "expenses graph" %>
      </div>

  </div>

  <hr>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

<%= render "shared/footer_en" %>

