<%= render "shared/navbar-en" %>

<div class="banner-finances">
  <div class="container">
    <%= image_tag "money.png", class: "money-icon", alt: "money icon" %>
    <h1>VVAIS</h1>
    <h3>Financial Report</h3>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      </br>
      </br>
      <h1>💵📊 Crowdfunding Campaign # 1:</h1>
      <h4>⛔️ Result: Not sucessful</h4>
      <h4>🏁 Plan: 20,000 €</h4>
      <h4>📉 Real: 2,500 € (12,5%)</h4>
      <hr>
      <div class="blog-title">
        <h5>Written by: Luis José Borges.</h5>
        <h5>Date: November 11th. 2020.</h5>
        <h5>6 min read</h5>
      </div>
      <hr>
      <br>
      <h4>Background</h4>
      <br>
      <div class="blog-text">
        <p>
          On the 24th. of July 2020, birthday of Venezuelan Liberator Simón Bolivar, we kicked off this purpose-driven project called VVAIS to give back
          to the country that has given me everything I have nowadays: a family, an education, a career and a company. The Venezuelan Social Innovation
          Academy represents the first step towards bringing entrepreneurial education and empowerment to million of young people striving to make a
          living in Venezuela.
          <br>
          <br>
          Back in July we were very ambitious in our aspirations. We set a goal to ourselves to raise <strong>20,000 €</strong> to start this journey with 4
          Venezuelans coming to Uganda. In the following paragraphs, we show the results of our first initial efforts and the main challenges and learnings we've
          grasped from working on this project so far.
        </p>
      </div>
      <br>
      <h4>Results</h4>
      <br>
      <div class="blog-text">
        <p>
          <u>We were not able to raise the planned amount of 20,000 €.</u>
          Our efforts were geared mainly into getting support from friends and family. In general,
          the response and the sentiment for our project was perceived as positive but we also heard the challenges VVAIS will face in the future trying to
          bring a donation-based initiative forward and the additional barriers that represents the local Venezuelan and international environment, namely:
          political and economical. <br><br>
          The results of our campaign were the following:
          <br>
          <h3>💵 Total raised: 2,500€</h3>
          <h3>👥 Number of Donors: 55</h3>
          <h3>∑ Average donation: 45€</h3>
          <h3>🙌🏼 Highest donation made: 150€</h3>
          <h3>🗓 Days of Campaign: 99 days</h3>
        </p>
      </div>
      <br>
      <h4>Main challenges</h4>
      <br>
      <div class="blog-text">
        <ul>
          <li>Campaign:</li>
            <ul>
              <li>COVID-19</li>
            </ul>
        </ul>
        <ul>
          <li>VVAIS project:</li>
            <ul>
              <li>COVID-19</li>
            </ul>
        </ul>

      </div>
      <br>
      <h4>Learning:</h4>
      <br>
      <br>
      <h4>Next Steps:</h4>
      <br>
      <p><i>"We are changing the plan, but not the goal"</i><br><p>Luis José Borges <br>- Founder @ vvais</p></p>
      <ul>
        <li>Get direct support from SINA Uganda</li>
        <li>Reduce budget to 5,000 EUR</li>
        <li>Raise remaining 2,500 EUR</li>
      </ul>
      <br>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center">

      <div class="col-md-4 col-sm-12">
        <h2>Financial Report:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Quod, cupiditate! Dolore rerum, qui inventore distinctio quidem necessitatibus veritatis, autem similique maiores culpa omnis impedit itaque nam pariatur sunt aperiam atque.</p>
      </div>

      <div class="col-md-4 col-sm-12">

        <div class="financial-icons">
          <%= image_tag "people.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>55</h2>
        </div>
        <div class="financial-text">
          <p>supporters</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "coins.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>2,500€</h2>
        </div>
        <div class="financial-text">
          <p>total in donations</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "expenses.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>330 €</h2>
        </div>
        <div class="financial-text">
          <p>total spent</p>
        </div>

        <br>

        <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>Passport</p>
            <div class="expenses-number">
              <p>150 €</p>
            </div>
          </div>
        </div>

        <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>English Course</p>
            <div class="expenses-number">
              <p>180 €</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-sm-12">
        <%= image_tag "expenses-graph.png", class: "expenses-graph", alt: "expenses graph" %>
      </div>

  </div>

  <hr>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

<%= render "shared/footer_en" %>

