<%= render "shared/navbar-en" %>

<div class="banner-finances">
  <div class="container">
    <%= image_tag "money.png", class: "money-icon", alt: "money icon" %>
    <h1>VVAIS</h1>
    <h3>Financial Report</h3>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      </br>
      </br>
      <h1>💵📊 Crowdfunding Campaign # 1:</h1>
      <h4>🏁 Plan: 20,000 €</h4>
      <h4>📉 Real: 2,500 € (12,5%)</h4>
      <h4>⛔️ Results: Not sucessful</h4>
      <hr>
      <div class="blog-title">
        <h5>Written by: Luis José Borges.</h5>
        <h5>Date: November 11th. 2020.</h5>
        <h5>6 min read</h5>
      </div>
      <hr>
      <br>
      <h4>Background</h4>
      <br>
      <div class="blog-text">
        <p>
          On the 24th. of July 2020, birthday of Venezuelan Liberator Simón Bolivar, we kicked off this purpose-driven project called VVAIS to
          give back to the country that has given me everything I have today: a family, an education, a career and a company. The Venezuelan
          Social Innovation Academy is the first step towards bringing entrepreneurial education and empowerment to million of young people striving
          to make a living in Venezuela and represents an alternative to thrive in a challenging environment through entrepreneurship.
          <br>
          <br>
          Back in July I was very ambitious in my aspirations: I set a goal to to raise <u><strong>20,000€</strong></u> to start this journey and
          finance the trip of 4 Venezuelans (2 scholars and 2 founders) traveling to SINA in Uganda. This proved to be more challenging than expected.
          <br>
          <br>
          In the following paragraphs, I'd like to show the results of our first initial efforts, main challenges, learnings and next steps for vvais
          by the end of 2020 and starting 2021.
        </p>
      </div>
      <br>
      <h4>Results</h4>
      <br>
      <div class="blog-text">
        <p>
          <u><strong>We were not able to raise the planned amount of 20,000 €.</strong></u>
          <br>
          <br>
          Raising money is a full-time job and I understimated the effort, resources needed, the reach of my personal network and the sensible metrics to raise twenty-thousand euros, namely: creating awareness, telling our story, building trust and
          ask for donations; a repeatable cycle in which we got better and better but insufficient for the goal we set. Nonetheless, I and the vvais team
          feel proudness on what we've achived so far and grateful to the people who believe in us. This is our results:
        </p>
          <br>
          <h3>💵 Total raised: 2,500€</h3>
          <h3>👥 Number of donors: 55</h3>
          <h3>∑ Average donation: 45€</h3>
          <h3>🙌🏼 Highest donation made: 150€</h3>
          <h3>🗓 Days of campaign: 99 days</h3>
          <br>
          <p>
          This amount is mostly thanks to our friends, family, ex-colleagues, collaborators and closest network. To all of you, <strong>THANK YOU VERY MUCH!</strong>
          <br>
          <br>
          In general, the response and the sentiment for our project was perceived as positive but, we also heard and we acknowledge that we will have
          more challenges to face in the future trying to bring a donation-based initiative forward and the additional barriers that represents
          the local Venezuelan and international environment nowadays.
          <br>
          </p>
      </div>
      <br>
      <h4>Main challenges</h4>
      <br>
      <div class="blog-text">
      <p>I'd like to briefly mention the main barriers we encountered in our campaign and project as a whole:</p>
        <ul>
          <li>Campaign:</li>
            <ul>
              <li>Establish trust beyond our friends and family.</li>
              <li>Clear communication about vvais: benefits, scholars, partners, budget breakdown and strategy beyond the campaign.</li>
              <li>Available time for founders and collaborators to work on vvais.</li>
            </ul>
        </ul>
        <ul>
          <li>VVAIS project:</li>
            <ul>
              <li>Local bureaucratic processes in Venezuela (Cumaná) to issue passports and/or extensions to scholars, specifically to Manuel whose
              passport has already ten years old and need a new one.</li>
              <li>Uncertainty about flights and international trips due to COVID-19.</li>
              <li>Constantly communicating to donors about our progress and challenges encountered.</li>
            </ul>
        </ul>
      </div>
      <br>
      <h4>Learning:</h4>
      <br>
      <div class="blog-text">
        <ul>
          <li><u>Trust is paramount.</u> We need to build it first to go beyond our friends, family and network. Without this trust we are missing on
          leveraging from the most powerful marketing tool: word of mouth.</li>
          <li><u>This is not possible as a side-project.</u> VVAIS requires full-time attention. It is unrealistic to carry out this project on the side.
          More than 8 hours/week are required to pull it off.</li>
          <li><u>An initial goal of 20,000€ proved to be ambitious.</u> Perhaps with more dedication and prioritization, the target could have been
          achieved. With our current setup and resources, this became uphill.</li>
        </ul>
      </div>
      <br>
      <h4>Next Steps:</h4>
      <br>
      <div class="blog-text">
        <p>VVAIS is not over because an unsuccessful first campaign. We bring our entrepreneurial mindset, embrace the failures we've faced so far and
        iterate grounded on our learnings. Here's a breakdown of our next steps:</p>
        <ul>
          <li>Adjust budget to 5,000€ for both scholars and raise remaining 2,500€.</li>
          <li>Get direct support from SINA Uganda to balance expenses not covered in new budget.</li>
          <li>Keep trip to Uganda in January 2021 while being aware of Manuel's passport. If the passport is not possible to be issued, we
          will make an invitation to other scholars interviewed by vvais team in Cumaná.</li>
        </ul>
        <strong><h4 id="crowd-quote"><i>"We are changing the plan, but not the goal"</i>
        <br> <br>Luis José Borges - Founder @ vvais</p></strong></h4>
      </div>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center">

      <div class="col-md-4 col-sm-12">
        <h2>Financial Report:</h2>
        <div class="blog-text">
          <p>Transparency is our default. We publish here where our expenses are going and show
            exactly how much money we've raised through donations and where we have spent it so far.
            <br>
            <br>
            VVAIS does not pay any salary to its founders or collaborators. This is 100% volunteer and pro-bono work.
            All donations are going directly to the benefit of our first two scholars: Mariela and Manuel.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">

        <div class="financial-icons">
          <%= image_tag "people.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>55</h2>
        </div>
        <div class="financial-text">
          <p>supporters</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "coins.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>2,500€</h2>
        </div>
        <div class="financial-text">
          <p>total in donations</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "expenses.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>330 €</h2>
        </div>
        <div class="financial-text">
          <p>total spent</p>
        </div>

        <br>

<!--         <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>Passport</p>
            <div class="expenses-number">
              <p>150 €</p>
            </div>
          </div>
        </div>

        <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>English Course</p>
            <div class="expenses-number">
              <p>180 €</p>
            </div>
          </div>
        </div>
 -->
      </div>

      <div class="col-md-4 col-sm-12">
        <%= image_tag "expenses-graph.png", class: "expenses-graph", alt: "expenses graph" %>
      </div>

  </div>

  <hr>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

<%= render "shared/footer_en" %>

