<%= render "shared/navbar-en" %>

<div class="banner">
  <div class="container">
    <h1>Let's plant the seed for 1 community, in 1 year with 2 young Venezuelan entrepreneurs!</h1>
    <h4>Be our partner in bringing Innovation to Venezuela.</h4>
    <h4>Invest in education and progress:</h4>
    <br>
    <a class="btn-primary" href="#support-now">Invest now! 1+1 = 2</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" align="center">
      <h1>Our Crowdfunding campaign:</h1>
      <h4>1+1 = 2</h4>
      <br>
        <class class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/0X9coRXjwcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></class>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" align="center">
      <br>
      <br>
      <h1>Raised so far at SINA account:</h1>
        <class class="counter"><iframe width="460" height="200" src="https://donationstatus.twingle.de/donation-status/J8Qdn%252Bq0Ew%252BehuaxWfNWfQ%253D%253D" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></class>
    </div>
  </div>
</div>

  <!-- Funding tracker -->

  <section class="progress text-center">
    <div class="container">
      <h1>TOTAL amount raised:</h1><h5>(SINA account + VVAIS PayPal)</h5>
    </div>
  </section>

  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>24</h1>
            <h5>SUPPORTERS</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>18</h1>
            <h5>DAYS LEFT</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>€ 784</h1><h5> / € 20,000</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <%= image_tag "progress-bar.png", width:"100", height:"100", alt: "progress bar" %>
            <h5>3%</h5>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <br>

<!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-0"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Until today:</h2>
          <br>
          <ul>
            <li><p>More than 10 young people interviewed:</p></li>
            <li><p>6 volunteers</p></li>
            <li><p>784 EUROS collected</p></li>
            <li><p>A gran vision and,</p></li>
            <li><p>100% heart in what we do! ♥️</p></li>
          </ul>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-4 my-auto showcase-text", id="quote-background">
          <h1><i>“</i></h1>
          <h2>We envision a country in which the vast majority of marginalized young Venezuelans create their own jobs,</h2>
          <br>
          <h6>create jobs for others, overcome material poverty and become role model for the next generation of Entrepreneurs with purpose and high social impact.</h6>
          <br>
          <br>
          <h1><i>”</i></h1>
        </div>
        <div class="col-lg-8 my-auto showcase-text">
          <h2>A bright future</h2>
          <p class="lead mb-0">In response to the soaring level of unemployment and the fewer and fewer possibilities to access professional education, we firmly believe in Entrepreneurship as the base for unleashing the human creativity to the maximum, foster innovation and create new opportunities and advancement in our society.</p>
          </br>
          <p class="lead mb-0"><u>From job seekers to job creators:</u></p>
          <p class="lead mb-0">We imagine a country in which the most vulnerables are empowered day after day and are a fundamental part of the advancement of their families, their communities and a whole country that longs for well-being, safety and progress.</p>
          </br>
          <h2>We're VVAIS:<br>Social Innovation Academy in Venezuela</h2>
          <p>Non-profit Organization</p>
          <p class="lead mb-0">We empower lives and transform communities through education and innovation.</p>
          <br>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-1"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>From Germany, passing through Uganda and landing in Venezuela:</h2>
          <p class="lead mb-0"><u>An innovative model of empowerment and education.</u></br> SINA is transforming marginalized youth into Social Entrepreneurs.</p>
          </br>
          <p class="lead mb-0">We believe this model can be replicated in Venezuela. The journey begins by sponsoring the training of two Venezuelan scholars in Africa.</p>
          </br>
          <p class="lead mb-0"><u>But we can’t do it without you.</u></p>
          <br>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
        </div>
      </div>

  <!-- Quote -->
    <section class="quote text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4"><i>“You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete.” </i></br></br>― R. Buckminster Fuller</h2>
          </div>
        </div>
      </div>
    </section>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-2"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br id="support-now">
          <br>
          <br>
          <h2>We need your help!</h2>
          <h4>Invest in our cause</h4>
          <br>
          <p class="lead mb-0">A quality education transforms lives and communities. And you're part of this. It starts with you today.</p>
          <br>
          <p>You can support us two ways:</p>
          <p>1) Directly in our <strong>PayPal Money Pool</strong> created by our Co-Founder <strong>Luis José Borges</strong>:</p>
          <a class="btn-primary" id="smaller-cta" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank"><i>Donate now</i></a>
          <br>
          <br>
          <p>2) Using the donation gateway of our <strong>partner SINA in Germany</strong> to donate with credit card, PayPal or bank transfer.</p>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
          <br>
          <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Donate now</i></a>
          <br>
          <br>
          <ul>
            <li>Your payment is processed with maximum security.</li>
            <li>We keep the transparency in each transaction.</li>
            <li>You can contact us at hola@vvais.org in case of any doubts.</li>
          </ul>
        </div>
      </div>

          <!-- FAQs -->
      <section class="survey text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h2 class="mb-4">You have questons?</h2>
              <h2 class="mb-4"><strong>We got answers!</strong></h2>
            </div>
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="form-row">
                  <div class="col-12">
                    <a class="btn-primary" href="faq" target="_blank" id="support-now-cta">Learn more!</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-3"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>What do we do with your donation?</h2>
          <p>We're planting the first seed.</p>
          <p class="lead mb-0"><u>Our goal is to reach 20,000 EUROS.</u></p>
          <p class="lead mb-0">The program starts from September 2020.</p>
          </br>
          <p class="lead mb-0">This is a one-year budget to finance:</p>
          </br>
            <p class="lead mb-0">Flights = 10,000€</p>
            <p class="lead mb-0">Training program = 5,000€</p>
            <p class="lead mb-0">Documents & Visas = 1,000€</p>
            <p class="lead mb-0">Travel logistics = 1,000€</p>
            <p class="lead mb-0">Clothes and travel kits = 1,000€</p>
            <p class="lead mb-0">Yearly allowance at SINA = 1,000€</p>
            <p class="lead mb-0">Medical checkups = 500€</p>
            <p class="lead mb-0">Others = 500€</p>
            <br>
            <p class="lead mb-0"><u>Total = 20,000€</u></p>
        </div>
      </div>

    </div>
  </section>

  <!-- Funding tracker CTA -->
  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">

          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <a class="btn-primary" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank" id="support-now-cta">Support now!</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">We've got a great team and the special support from SINA!</h2>

      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Luis.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h5>Luis B.</h5>
            <h6>@ Berlin, Germany 🇩🇪</h6>
            <h6>Founder of VVAIS - Germany</h6>
            <br>
            <p class="font-weight-light mb-0">"SINA fascinated me from the moment I heard of it: the model, the impact, success stories and the immense social impact that it has on people's lives and communities. I can't wait to impact the lives of many with VVAIS!"</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Elgin.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Elgin H.</h5>
            <h6>@ Berlin, Germany 🇩🇪</h6>
            <h6>Creative Direction of VVAIS - Germany</h6>
            <br>
            <p class="font-weight-light mb-0">"I tell you: I was so amazed and inspired being at SINA: how much power and confidence; people took their lives in their hands, striving to become social entrepreneurs – both in the Social Innovation Academy in Mpigi and in the Nakivale refugee camp. "</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Etienne.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Etienne S.</h5>
            <h6>@ Mpigi, Uganda 🇺🇬</h6>
            <h6>Founder of SINA</h6>
            <br>
            <p class="font-weight-light mb-0">"When SINA came to life in 2014 in Uganda, it was far beyond my wildest dreams to see it one day scale its impact to a different continent. It is happening now and I am super excited for SINA in Venezuela."</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Alfredo.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Alfredo V.</h5>
            <h6>@ Cumana, Venezuela 🇻🇪</h6>
            <h6>Co-Founder of VVAIS - Venezuela</h6>
            <br>
            <p class="font-weight-light mb-0">"The past weeks have been an exciting journey meeting the potential candidates benefiting from SINA in Uganda. I'm committed to bring SINA to Venezuela and transform lives in our communities."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Surveys -->
  <section class="survey text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">We're looking for you: Scholars.</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <a class="btn-primary" href="https://forms.gle/XZ9YiE7hvmctj9qdA" target="_blank" id="support-now-cta">Apply as Scholar!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

      <!-- Surveys -->
  <section class="survey text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">We're looking for you: Volunteer.</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <a class="btn-primary" href="https://forms.gle/FejT6JsH9fZzSnLM6" target="_blank" id="support-now-cta">Apply as Volunteer!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <br>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Keep yourself posted of this beautiful project:</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <%= render "subscribers/form_en" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/footer_en" %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
