<%= render "shared/navbar-es" %>

<div class="banner">
  <div class="container">
    <h1>Plantemos la semilla para 1 comunidad, en 1 año con 2 jóvenes emprendedores Venezolanos!</h1>
    <h4>Se nuestro aliado: traigamos innovación a Venezuela.</h4>
    <h4>Invierte en educación y progreso:</h4>
    <br>
    <a class="btn-primary" href="#support-now">Invierte ahora! 1+1 = 2</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" align="center">
      <h1>Nuestra campaña Crowdfunding:</h1>
      <h4>1+1 = 2</h4>
      <br>
        <class class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/0X9coRXjwcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></class>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" align="center">
      <br>
      <br>
      <h1>Recolectado hasta ahora en cuenta SINA:</h1>
        <class class="counter"><iframe width="460" height="200" src="https://donationstatus.twingle.de/donation-status/J8Qdn%252Bq0Ew%252BehuaxWfNWfQ%253D%253D" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></class>
    </div>
  </div>
</div>

  <!-- Funding tracker -->

  <section class="progress text-center">
    <div class="container">
      <h1>TOTAL recolectado:</h1><h5>(cuenta SINA + PayPal VVAIS)</h5>
    </div>
  </section>

  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>23</h1>
            <h5>CONTRIBUYENTES</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>19</h1>
            <h5>DIAS RESTANTES</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>€ 759</h1><h5> / € 20,000</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <%= image_tag "progress-bar.png", width:"100", height:"100", alt: "progress bar" %>
            <h5>3%</h5>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <br>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-0"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Al día de hoy:</h2>
          <br>
          <ul>
            <li><p>Mas de 10 jóvenes entrevistados</p></li>
            <li><p>6 voluntarios</p></li>
            <li><p>759 EUROS recolectados</p></li>
            <li><p>Una gran visión y,</p></li>
            <li><p>100% corazón en lo que estamos haciendo! ♥️</p></li>
          </ul>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-4 my-auto showcase-text", id="quote-background">
          <h1><i>“</i></h1>
          <h2>Visualizamos un país en el que la gran mayoría de los venezolanos marginados crean sus propios empleos,</h2>
          <br>
          <h6>crean empleos para otros, superan la pobreza material y son ejemplo a seguir de la próxima generación de Emprendedores con propósito y alto impacto social.</h6>
          <br>
          <br>
          <h1><i>”</i></h1>
        </div>
        <div class="col-lg-8 my-auto showcase-text">
          <h2>Un futuro luminoso</h2>
          <p class="lead mb-0">En respuesta al elevado nivel de desempleo y las pocas posibilidades de acceso a la educación superior, creemos firmemente en el Emprendimiento (Entrepreneurship) como base para dar rienda suelta a la creatividad humana, fomentar la innovación y crear nuevas oportunidades y progreso en nuestra sociedad.</p>
          </br>
          <p class="lead mb-0"><u>De buscadores a creadores de empleo:</u></p>
          <p class="lead mb-0">Imaginamos un país en el que los más vulnerables son empoderados día tras día y son parte del progreso de sus familias, de sus comunidades y de todo un país que anhela bienestar, seguridad y progreso.</p>
          <br>
          <h2>Somos VVAIS:<br>Visión Venezuela - Academia de Innovación Social</h2>
          <p>Organización sin fines de lucro</p>
          <p class="lead mb-0">Empoderamos vidas y transformamos comunidades a través de la educación e innovación.</p>
          </br>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-1"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Desde Alemania, pasando por Uganda y aterrizando en Venezuela:</h2>
          <p class="lead mb-0"><u>Un modelo de empoderamiento y educación novedoso.</u> </br> SINA está transformando jóvenes: de marginados en Emprendedores Sociales.</p>
          </br>
          <p class="lead mb-0">Creemos que este modelo es replicable en Venezuela. Nuestra primera etapa comienza patrocinando la capacitación de dos becarios Venezolanos en África.</p>
          </br>
          <p class="lead mb-0"><u>Pero no podemos hacerlo sin ti.</u></p>
          <br>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
        </div>
      </div>

  <!-- Quote -->
    <section class="quote text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4"><i>“Las cosas nunca cambian si luchas la realidad existente. Para cambiar algo, crea un nuevo modelo, aquel que vuelva obsoleto el modelo existente.</i></br></br>― R. Buckminster Fuller</h2>
          </div>
        </div>
      </div>
    </section>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-2"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br id="support-now">
          <br>
          <br>
          <h2>¡Necesitamos tu ayuda!</h2>
          <h4>Invierte en nuestra causa</h4>
          <br>
          <p class="lead mb-0">Una educación de calidad transforma vidas y comunidades. </br> Y tú eres parte de esto. Esto comienza contigo hoy.</p>
          <br>
          <p>Puedes realizar tu aporte de dos formas:</p>
          <p>1) Directamente en el <strong>Money Pool de PayPal</strong> creado por nuestro Co-Fundador <strong>Luis José Borges</strong>:</p>
          <a class="btn-primary" id="smaller-cta" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank"><i>Donar ahora</i></a>
          <br>
          <br>
          <p>2) Utilizando el portal de <strong>nuestro aliado SINA en Alemania</strong> para pagos en: tarjetas, PayPal y transferencia.</p>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
          <br>
          <a class="btn-primary" id="smaller-cta" href="https://spenden.twingle.de/sina-gemeinnutzige-ug/bring-sina-to-venezuela/tw5f155b313ed2b/page" target="_blank"><i>Donar ahora</i></a>
          <br>
          <br>
          <ul>
            <li>Tu pago se procesa con seguridad máxima.</li>
            <li>Mantenemos transparencia en cada transacción.</li>
            <li>Estamos a tu disposición para cualquier duda en hola@vvais.org</li>
          </ul>
        </div>
      </div>

    <!-- FAQs -->
  <section class="survey text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">¿Tienes preguntas?</h2>
          <h2 class="mb-4"><strong>Tenemos respuestas!</strong></h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <a class="btn-primary" href="pf" target="_blank" id="support-now-cta">¡Conoce más!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-4"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>¿Qué hacemos con tu donación?</h2>
          <p>Plantar la primera semilla</p>
          <p class="lead mb-0"><u>Nuestra meta es alcanzar 20,000 EUROS.</u></p>
          <p class="lead mb-0">El programa inicia en Septiembre 2020.</p>
          </br>
          <p class="lead mb-0">Este es el presupuesto de un año para financiar:</p>
          </br>
            <p class = "lead mb-0"> Boletos de avión = 10,000 €</p>
            <p class = "lead mb-0"> Programa de entrenamiento = 5,000 €</p>
            <p class = "lead mb-0"> Documentos y visas = 1,000 €</p>
            <p class = "lead mb-0"> Logística de viaje = 1,000 €</p>
            <p class = "lead mb-0"> Ropa y kits de viaje = 1,000 €</p>
            <p class = "lead mb-0"> Subsidio anual en SINA = 1,000 €</p>
            <p class = "lead mb-0"> Exámenes médicos = 500 €</p>
            <p class = "lead mb-0"> Otros = 500 €</p>
            <br>
            <p class = "lead mb-0"><u>Total = 20,000 €</u></p>
        </div>
      </div>

    </div>
  </section>

  <!-- Funding tracker CTA -->
  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">

          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <a class="btn-primary" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank" id="support-now-cta">Apoya ahora!</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">¡Tenemos un gran equipo y el apoyo especial de SINA!</h2>

      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Luis.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h5>Luis B.</h5>
            <h6>@ Berlin, Alemania 🇩🇪</h6>
            <h6>Fundador de VVAIS - Alemania</h6>
            <br>
            <p class="font-weight-light mb-0">"SINA me fascinó desde el momento en que lo escuché: el modelo, el impacto, las historias de éxito y el inmenso impacto social que tiene en la vida de las personas y sus comunidades. ¡Estoy más que emocionado y ansioso de impactar las vidas de muchos con VVAIS! "</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Elgin.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Elgin H.</h5>
            <h6>@ Berlin, Alemania 🇩🇪</h6>
            <h6>Dirección Creativa de VVAIS - Germany</h6>
            <br>
            <p class="font-weight-light mb-0">"Quedé tan asombrada e inspirada en SINA: cuánto poder y confianza. La gente toma las riendas de su vida y se esfuerzan por convertirse en Emprendedores sociales, tanto en la Academia de Innovación Social en Mpigi como en el campo de refugiados de Nakivale."</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Etienne.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Etienne S.</h5>
            <h6>@ Mpigi, Uganda 🇺🇬</h6>
            <h6>Fundador de SINA</h6>
            <br>
            <p class="font-weight-light mb-0">"Cuando SINA se hizo realidad en 2014 en Uganda, fue mucho más allá de mis sueños más locos ver que un día escalara su impacto en un continente diferente. Está sucediendo ahora y estoy súper emocionado por SINA en Venezuela."</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Alfredo.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Alfredo V.</h5>
            <h6>@ Cumana, Venezuela 🇻🇪</h6>
            <h6>Co-Fundador de VVAIS - Venezuela</h6>
            <br>
            <p class="font-weight-light mb-0">"Las últimas semanas han sido muy emocionantes conociendo y reuniendome con los posibles candidatos que se beneficiaran de SINA en Uganda. Estoy comprometido a traer SINA a Venezuela y transformar vidas en nuestras comunidades."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Surveys -->
  <section class="survey text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Estamos buscándote: Becarios.</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <a class="btn-primary" href="https://forms.gle/XZ9YiE7hvmctj9qdA" target="_blank" id="support-now-cta">Aplica como Becario!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

      <!-- Surveys -->
  <section class="survey text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Estamos buscándote: Voluntarios.</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <a class="btn-primary" href="https://forms.gle/FejT6JsH9fZzSnLM6" target="_blank" id="support-now-cta">Aplica como Voluntario!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <br>

    <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Mantente informado de este hermoso proyecto:</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <%= render "subscribers/form_es" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/footer_es" %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
