<%= render "shared/navbar-es" %>

<div class="banner">
  <div class="container">
    <h1>Se nuestro aliado: traigamos innovación a Venezuela</h1>
    <p>Y juntos, transformemos las vidas de muchos.</p>
    <p>Nuestras primeras semillas empiezan aquí:</p>
    <br>
    <a class="btn-primary" href="#support-now">Apoya ahora!</a>
  </div>
</div>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-4 my-auto showcase-text", id="quote-background">
          <h1><i>“</i></h1>
          <h2>Visualizamos un futuro en el que la gran mayoría de los venezolanos crean sus propios empleos.</h2>
          <br>
          <br>
          <h1><i>”</i></h1>
        </div>
        <div class="col-lg-8 my-auto showcase-text">
          <h2>Un futuro luminoso</h2>
          <p class="lead mb-0">En respuesta al elevado nivel de desempleo y la creencia de que no hay otras posibilidades de subsistencia, creemos firmemente que la educación es la piedra angular para crear nuevas oportunidades y mejoras en nuestra sociedad.</p>
          </br>
          <p class="lead mb-0"><u>De buscadores a creadores de empleo:</u></p>
          <p class="lead mb-0">Imaginamos un país en el que los más vulnerables superan la pobreza material, crean empleos para otros e inspiran a la próxima generación de Emprendedores con alto impacto social.</p>
          </br>
          <h2>VVAIS:<br>Visión Venezuela - Academia de Innovación Social</h2>
          <p>Organización sin fines de lucro</p>
          <p class="lead mb-0">Empoderamos vidas y nos esforzamos por transformar comunidades a través de la educación y la innovación.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-1"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>De la mano con SINA - Alemania</h2>
          <p class="lead mb-0"><u>Un modelo innovador comprobado.</u> </br> SINA está transformando jóvenes: de marginados en Emprendedores Sociales.</p>
          </br>
          <p class="lead mb-0">Creemos que este modelo es replicable en Venezuela. Nuestra primera etapa comienza patrocinando la capacitación de dos becarios Venezolanos en África.</p>
          </br>
          <p class="lead mb-0"><u>Pero no podemos hacerlo sin ti.</u></p>
          <br>
          <%= image_tag "sina-logo.png", class: "img-fluid rounded-circle mb-3", alt: "sina-logo" %>
        </div>
      </div>

  <!-- Quote -->
    <section class="quote text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4"><i>“Las cosas nunca cambian si luchas la realidad existente. Para cambiar algo, crea un nuevo modelo, aquel que vuelva obsoleto el modelo existente.</i></br></br>― R. Buckminster Fuller</h2>
          </div>
        </div>
      </div>
    </section>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-2"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <br id="support-now">
          <br>
          <br>
          <h2>¡Queremos hacer esto <u> CONTIGO!</u></h2>
          <h4>Haz una donación</h4>
          <br>
          <p class="lead mb-0">Una educación de calidad transforma vidas y comunidades. </br> Y tú eres parte de esto. Esto comienza contigo hoy.</p>
          <br>
          <br>
          <a class="btn-primary" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank">Ir a <i>PayPal</i></a>
          <br>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-4"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>¿Cómo estamos usando el dinero?</h2>
          <p class="lead mb-0"><u>Nuestra meta es alcanzar 20,000 EUROS.</u></p>
          <p class="lead mb-0">El programa inicia en Septiembre 2020.</p>
          </br>
          <p class="lead mb-0">Este es el presupuesto de un año para financiar:</p>
          </br>
            <p class = "lead mb-0"> Boletos de avión = 10,000 €</p>
            <p class = "lead mb-0"> Programa de entrenamiento = 5,000 €</p>
            <p class = "lead mb-0"> Documentos y visas = 1,000 €</p>
            <p class = "lead mb-0"> Logística de viaje = 2,000 €</p>
            <p class = "lead mb-0"> Ropa y kits de viaje = 1,000 €</p>
            <p class = "lead mb-0"> Subsidio anual en SINA = 1,000 €</p>
            <p class = "lead mb-0"> Exámenes médicos = 500 €</p>
            <p class = "lead mb-0"> Otros = 500 €</p>
            <br>
            <p class = "lead mb-0"><u>Total = 20,000 €</u></p>
        </div>
      </div>

    </div>
  </section>

  <!-- Funding tracker -->

  <section class="progress text-center">
    <div class="container">
      <h2>Nuestro progreso al día de hoy:</h2>
    </div>
  </section>

  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>3</h1>
            <h5>CONTRIBUYENTES</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>59</h1>
            <h5>DIAS RESTANTES</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h1>€ 120</h1><h5> / € 20,000</h5>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <%= image_tag "progress-bar.png", width:"100", height:"100", alt: "progress bar" %>
            <h5>1%</h5>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Funding tracker CTA -->
  <section class="quote text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">

          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <a class="btn-primary" href="https://paypal.me/pools/c/8q6j7goTxD" target="_blank" id="support-now-cta">Apoya ahora!</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">¡Tenemos un gran equipo y el apoyo especial de SINA!</h2>

      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Luis.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <div class="col-lg-6 order-lg-2 text-white showcase-img-2"></div>
            <h5>Luis B.</h5>
            <h6>@ Berlin, Alemania 🇩🇪</h6>
            <h6>Fundador de VVAIS - Alemania</h6>
            <br>
            <p class="font-weight-light mb-0">"SINA me fascinó desde el momento en que lo escuché: el modelo, el impacto, las historias de éxito y el inmenso impacto social que tiene en la vida de las personas y sus comunidades. ¡Estoy más que emocionado y ansioso de impactar las vidas de muchos con VVAIS! "</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Elgin.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Elgin H.</h5>
            <h6>@ Berlin, Alemania 🇩🇪</h6>
            <h6>Dirección Creativa de VVAIS - Germany</h6>
            <br>
            <p class="font-weight-light mb-0">"Quedé tan asombrada e inspirada en SINA: cuánto poder y confianza. La gente toma las riendas de su vida y se esfuerzan por convertirse en Emprendedores sociales, tanto en la Academia de Innovación Social en Mpigi como en el campo de refugiados de Nakivale."</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Etienne.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Etienne S.</h5>
            <h6>@ Mpigi, Uganda 🇺🇬</h6>
            <h6>Fundador de SINA</h6>
            <br>
            <p class="font-weight-light mb-0">"Cuando SINA se hizo realidad en 2014 en Uganda, fue mucho más allá de mis sueños más locos ver que un día escalara su impacto en un continente diferente. Está sucediendo ahora y estoy súper emocionado por SINA en Venezuela."</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag "Alfredo.png", class: "img-fluid rounded-circle mb-3", alt: "avatar" %>
            <h5>Alfredo V.</h5>
            <h6>@ Cumana, Venezuela 🇻🇪</h6>
            <h6>Co-Fundador de VVAIS - Venezuela</h6>
            <br>
            <p class="font-weight-light mb-0">"Las últimas semanas han sido muy emocionantes conociendo y reuniendome con los posibles candidatos que se beneficiaran de SINA en Uganda. Estoy comprometido a traer SINA a Venezuela y transformar vidas en nuestras comunidades."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Mantente informado de este hermoso proyecto</h2>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12">
                <%= render "subscribers/form" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/footer_es" %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
