<%= render "shared/navbar-es" %>

<div class="banner-finances">
  <div class="container">
    <%= image_tag "money.png", class: "money-icon", alt: "money icon" %>
    <h1>VVAIS</h1>
    <h3>Reporte Financiero</h3>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      </br>
      </br>
      <h1>💵📊 Campaña Crowdfunding # 1:</h1>
      <h4>🏁 Plan: 20,000 €</h4>
      <h4>📉 Real: 2,500 € (12,5%)</h4>
      <h4>⛔️ Resultado: No exitosa</h4>
      <hr>
      <div class="blog-title">
        <h5>Escrito por: Luis José Borges.</h5>
        <h5>Día: 11 de Noviembre 2020.</h5>
        <h5>Lectura de 6 minutos</h5>
      </div>
      <hr>
      <br>
      <h4>Antecedentes</h4>
      <br>
      <div class="blog-text">
        <p>
           El día 24 de Julio de 2020, natalicio del Libertador Venezolano Simón Bolívar, iniciamos este proyecto inspirado en propósito de vida
           llamado VVAIS, con el fin de retribuirle al país que me ha dado todo lo que tengo hoy en día: una familia, una educación, una carrera y
           una empresa. La Academia de Innovación Social VVAIS es el primer paso para dictar educación emprendedora y empoderar a millones de jóvenes
           que luchan para ganarse la vida en Venezuela y representa una alternativa para prosperar en un entorno desafiante a través del espíritu emprendedor.
          <br>
          <br>
          En Julio fui muy ambicioso en mis aspiraciones: me puse la meta de recaudar <u><strong> 20.000€ </strong> </u> para comenzar este trayecto y
          financiar el viaje de 4 venezolanos (2 académicos y 2 fundadores) hacia SINA en Uganda. Esto resultó ser más desafiante de lo esperado.
          <br>
          <br>
          En las siguientes lineas, me gustaría mostrar los resultados de nuestros primeros esfuerzos, los principales desafíos, retos y aprendizajes y
          los próximos pasos para vvais a finales de 2020 y a partir de 2021.
        </p>
      </div>
      <br>
      <h4>Resultados</h4>
      <br>
      <div class="blog-text">
        <p>
          <u><strong>No pudimos recaudar la cantidad prevista de 20.000 €.</strong></u>
          <br>
          <br>
            Recaudar dinero es un trabajo a tiempo completo y subestimé el esfuerzo, los recursos necesarios, el alcance de mi red personal y las métricas
            sensatas para recaudar veinte mil euros, principalmente: crear conciencia, contar nuestra historia, generar confianza y pedir donaciones; un
            ciclo repetible en el que fuimos cada vez mejores pero insuficientes para el objetivo que nos propusimos. No obstante, yo y el equipo de vvais
            estamos orgullos por lo que hemos logrado hasta ahora y agradecidos con las personas que creen en nosotros. Estos son nuestros resultados:
        </p>
          <br>
          <h3>💵 Total recaudado: 2,500€</h3>
          <h3>👥 Número de donantes: 55</h3>
          <h3>∑ Donación promedio: 45€</h3>
          <h3>🙌🏼 Donación más alta realizada: 150€</h3>
          <h3>🗓 Días de campaña: 99 days</h3>
          <br>
          <p>
          Esta cantidad se debe principalmente a nuestros amigos, familiares, ex compañeros, colaboradores y red más cercana. A todos ustedes, <strong> ¡MUCHAS GRACIAS! </strong>
          <br>
          <br>
           En general, la respuesta y el sentimiento por nuestro proyecto fue percibido como positivo pero, también escuchamos y reconocemos que tendremos
           más desafíos que enfrentar en el futuro tratando de llevar adelante una iniciativa basada en donaciones y las barreras adicionales que representa
           el ambiente local venezolano e internacional en la actualidad.
          <br>
          </p>
      </div>
      <br>
      <h4>Retos principales</h4>
      <br>
      <div class="blog-text">
      <p>Me gustaría mencionar brevemente las principales barreras que encontramos en nuestra campaña y proyecto en conjunto:</p>
        <ul>
           <li> Campaña: </li>
             <ul>
               <li>Establecer confianza con el público en general más allá de nuestros amigos y familiares. </li>
               <li>Comunicación clara sobre vvais: beneficios, académicos, socios, desglose del presupuesto y estrategia más allá de la campaña. </li>
               <li>Tiempo disponible de trabajo por parte de los fundadores y colaboradores de vvais. </li>
             </ul>
         </ul>
         <ul>
           <li> Proyecto VVAIS: </li>
             <ul>
               <li>Procesos burocráticos locales en Venezuela (Cumaná) para expedir pasaportes y/o prórrogas a becarios, específicamente a Manuel cuyo
               el pasaporte ya tiene diez años y necesita uno nuevo. </li>
               <li>Incertidumbre sobre vuelos y viajes internacionales debido al COVID-19. </li>
               <li>Comunicación constante con los donantes en relación a nuestro progreso y los desafíos encontrados. </li>
             </ul>
         </ul>
      </div>
      <br>
      <h4>Aprendizaje:</h4>
      <br>
      <div class="blog-text">
        <ul>
           <li><u>La confianza es primordial</u>. Necesitamos construirla primero para ir más allá de nuestros amigos, familiares y redes de contacto.
            Sin esta confianza, no podemos aprovechar la herramienta de marketing más poderosa: el boca a boca (word of mouth). </li>
           <li><u> Este proyecto no es posible a tiempo-parcial. </u> VVAIS requiere atención de tiempo completo. No es realista llevar a cabo este proyecto de forma paralela.
           Se requieren más de 8 horas a la semana para lograrlo. </li>
           <li> <u>Nuestro objetivo inicial de 20.000 € resultó ser ambicioso. </u> Quizás con más dedicación y priorización
           podría haber sido alcanzable. En nuestra configuración y recursos actuales, esto no fue posible. </li>
         </ul>
      </div>
      <br>
      <h4>Próximos pasos:</h4>
      <br>
      <div class="blog-text">
        <p> VVAIS no ha terminado porque una primera campaña no tuvo éxito. Ahora es cuando ponemos en práctica nuestra mentalidad emprendedora,
          aceptamos los fracasos que hemos enfrentado hasta ahora e iteramos basado en nuestros aprendizajes. He aquí un desglose de nuestros
          próximos pasos: </p>
         <ul>
           <li> Ajustar el presupuesto a 5,000 € para ambos becarios y recaudar los 2,500 € restantes. </li>
           <li> Obtenga apoyo directo de SINA Uganda para equilibrar los gastos no cubiertos en el nuevo presupuesto. </li>
           <li> Mantener el viaje a Uganda en Enero de 2021 y mantener en monitoreo constante el pasaporte de Manuel. Si no es posible
            emitir el pasaporte, se hará una invitación a otros académicos entrevistados por el equipo de vvais en Cumaná. </li>
         </ul>
         <strong> <h4 id = "crowd-quote"> <i> "Estamos cambiando el plan, pero no el objetivo" </i>
         <br> <br> Luis José Borges - Fundador @ vvais </p> </strong> </h4>
       </div>
    </div>
  </div>
  <hr>

  <div class="row justify-content-center">

      <div class="col-md-4 col-sm-12">
      <h2>Reporte financiero: </h2>
         <div class = "blog-text">
           <p> La transparencia es nuestra prioridad. Publicamos aquí a dónde van nuestros gastos y mostramos
             exactamente cuánto dinero hemos recaudado a través de donaciones y dónde lo hemos gastado hasta ahora.
             <br>
             <br>
             VVAIS no paga ningún salario a sus fundadores o colaboradores. Este es un trabajo 100% voluntario y gratuito.
             Todas las donaciones van directamente a beneficio de nuestros dos primeros becarios: Mariela y Manuel. </p>
         </div>
       </div>

      <div class="col-md-4 col-sm-12">

        <div class="financial-icons">
          <%= image_tag "people.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>55</h2>
        </div>
        <div class="financial-text">
          <p>contribuyentes</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "coins.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>2,500€</h2>
        </div>
        <div class="financial-text">
          <p>total en donaciones</p>
        </div>

        <div class="financial-icons">
          <%= image_tag "expenses.png", class: "img-crowdfunding", alt: "coins-image" %>
          <h2>330 €</h2>
        </div>
        <div class="financial-text">
          <p>total gastado</p>
        </div>

        <br>

<!--         <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>Passport</p>
            <div class="expenses-number">
              <p>150 €</p>
            </div>
          </div>
        </div>

        <div class="expenses-text">
          <div class="pill">
            <a class="btn-primary" id="pill-cta">1</a>
            <p>English Course</p>
            <div class="expenses-number">
              <p>180 €</p>
            </div>
          </div>
        </div>
 -->
      </div>

      <div class="col-md-4 col-sm-12">
        <%= image_tag "expenses-graph-es.png", class: "expenses-graph", alt: "expenses graph" %>
      </div>

  </div>

  <hr>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

<%= render "shared/footer_es" %>

